.profile__edit-button {
    background: transparent url(../../../images/edit_button.svg) center;
    width: 24px;
    height: 24px;
    align-self: center;
    border: 1px solid rgba(84, 84, 84, 0.7);
    cursor: pointer;
}

.profile__edit-button:hover {
    opacity: 0.6;
}