.profile__edit-button {
    background: transparent url(../../../images/edit_button.svg) center;
    width: 24px;
    height: 24px;
    align-self: center;
    border: 1px solid #FFFFFF;
}

.profile__edit-button:hover {
    opacity: 0.6;
}